<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>shepherd旅游网-我的收藏</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/common.css">
        <link rel="stylesheet" href="../css/index.css">
       <style>
           .tab-content .row>div {
            margin-top: 16px;
           } 
           .tab-content {
            margin-bottom: 36px;
           }
       </style>
       <script src="../js/jquery-3.3.1.js"></script>
        <#include "header.html">
        <script>
            $(function () {
                $.get("/user/findOne",{},function (flag) {
                    if(flag){
                        load(1)
                    }else{
                        //用户没有登录
                        alert("您尚未登录，请登录");
                        location.href="http://localhost:8080/user/getLoginList";
                    }
                });
            });
            function fun(rid) {
                //href="/route/getRouteDetail?rid='+route.id+'"
                location.href="/route/getRouteDetail?rid="+rid;

            };
            function load(currentPage) {
                // <li><a href="">首页</a></li>
                //     <li class="threeword"><a href="#">上一页</a></li>
                //     <li><a href="#">1</a></li>
                //     <li><a href="#">2</a></li>
                //     <li><a href="#">3</a></li>
                //     <li><a href="#">4</a></li>
                //     <li><a href="#">5</a></li>
                //     <li><a href="#">6</a></li>
                //     <li><a href="#">7</a></li>
                //     <li><a href="#">8</a></li>
                //     <li><a href="#">9</a></li>
                //     <li><a href="#">10</a></li>
                //     <li class="threeword"><a href="javascript:;">下一页</a></li>
                //     <li class="threeword"><a href="javascript:;">末页</a></li>
                $.get("/favorite/getMyFavoriteInfo",{currentPage:currentPage},function (pb) {
                    $("#totalPage").html(pb.totalPage);
                    $("#totalCount").html(pb.totalCount);
                    var lis = "";
                    var fristPage = '<li onclick="javascipt:load(1)"><a href="javascript:void(0)">首页</a></li>';
                    //计算上一页的页码
                    var beforeNum =  pb.currentPage - 1;
                    if(beforeNum <= 0){
                        beforeNum = 1;
                    }

                    var beforePage = '<li  onclick="javascipt:load('+beforeNum+')" class="threeword"><a href="javascript:void(0)">上一页</a></li>';

                    lis += fristPage;
                    lis += beforePage;
                    //1.2 展示分页页码
                    /*
                        1.一共展示10个页码，能够达到前5后4的效果
                        2.如果前边不够5个，后边补齐10个
                        3.如果后边不足4个，前边补齐10个
                    */

                    // 定义开始位置begin,结束位置 end
                    var begin; // 开始位置
                    var end ; //  结束位置


                    //1.要显示10个页码
                    if(pb.totalPage < 10){
                        //总页码不够10页

                        begin = 1;
                        end = pb.totalPage;
                    }else{
                        //总页码超过10页

                        begin = pb.currentPage - 5 ;
                        end = pb.currentPage + 4 ;

                        //2.如果前边不够5个，后边补齐10个
                        if(begin < 1){
                            begin = 1;
                            end = begin + 9;
                        }
                        //3.如果后边不足4个，前边补齐10个
                        if(end > pb.totalPage){
                            end = pb.totalPage;
                            begin = end - 9 ;
                        }
                    }
                    for (var i = begin; i <= end ; i++) {
                        var li;
                        //判断当前页码是否等于i
                        if(pb.currentPage == i){
                            li = '<li class="curPage" onclick="javascipt:load('+i+')"><a href="javascript:void(0)">'+i+'</a></li>';
                        }else{
                            //创建页码的li
                            li = '<li onclick="javascipt:load('+i+')"><a href="javascript:void(0)">'+i+'</a></li>';
                        }
                        //拼接字符串
                        lis += li;
                    }
                    var totalPage = pb.totalPage
                    var lastPage = '<li onclick="javascipt:load('+totalPage+')"><a href="javascript:void(0)">末页</a></li>';
                    //计算上一页的页码
                    var nextNum =  pb.currentPage + 1;
                    if(nextNum > pb.totalPage){
                        nextNum = pb.totalPage;
                    }
                    var nextPage = '<li  onclick="javascipt:load('+nextNum+')" class="threeword"><a href="javascript:void(0)">下一页</a></li>';
                    lis += nextPage;
                    lis += lastPage;
                    //将lis内容设置到 ul
                    $("#pageNum").html(lis);


                    //列表数据显示
                    /*
                     <div class="col-md-3">
                        <a href="route_detail.html">
                            <img src="../images/collection_pic.jpg" alt="">
                            <div class="has_border">
                                <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                            </div>
                        </a>
                    </div>
                     */
                    //2.列表数据显示
                    var route_list = ""
                    for(var i=0;i<pb.list.length;i++){
                        var route = pb.list[i];
                        //var rank = i+1;
                        var div ='<div class="col-md-3" onclick="javascipt:fun('+route.id+')">\n' +
'                                    <a>\n' +
'                                        <img src="/'+route.rimage+'" alt="">\n' +
'                                        <div class="has_border">\n' +
'                                            <h3>'+route.rname+'</h3>\n' +
'                                            <div class="price">网付价<em>￥</em><strong>'+route.price+'</strong><em>起</em></div>\n' +
'                                        </div>\n' +
'                                    </a>\n' +
'                                </div>';
                        route_list += div;
                    }
                    $("#route").html(route_list);

                    //定位到页面顶部
                    window.scrollTo(0,0);

                });


            };
        </script>
    </head>
    <body>
    <!--引入头部-->
    <div id="header"></div>
         <!-- 排行榜 start-->
        <section id="content">            
            <section class="hemai_jx">
                <div class="jx_top">
                    <div class="jx_tit">
                        <img src="../images/icon_5.jpg" alt="">
                        <span>我的收藏</span>
                    </div>                    
                </div>
                <div class="jx_content">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div id="route" class="row">
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                 <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="route_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="jroute_detail.html">
                                        <img src="../images/collection_pic.jpg" alt="">
                                        <div class="has_border">
                                            <h3>上海直飞三亚5天4晚自由行(春节预售+亲子/蜜月/休闲游首选+豪华酒店任选+接送机)</h3>
                                            <div class="price">网付价<em>￥</em><strong>889</strong><em>起</em></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="page_num_inf">
                    <i></i> 共
                    <span id="totalPage" style="color: red">12</span>页<span id="totalCount" style="color: red">132</span>条
                </div>
                <div class="pageNum">
                    <ul id="pageNum">
                        <li><a href="">首页</a></li>
                        <li class="threeword"><a href="#">上一页</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li class="threeword"><a href="javascript:;">下一页</a></li>
                        <li class="threeword"><a href="javascript:;">末页</a></li>
                    </ul>
                </div>
            </section>                      
        </section>
        <!-- 排行榜 end-->
    	
         <!--引入尾部-->
    	<div id="footer"></div>
        <!--导入布局js，共享header和footer-->
<!--        <script type="text/javascript" src="../js/include.js"></script>-->
    </body>
<#include "footer.html">
</html>